---
import DatosPaciente from "../components/DatosPaciente.astro";
import MainLayout from "../layyouts/MainLayout.astro";

const title = "Administrador de Citas";
---

<MainLayout title={title}>
  <h1
    class="container uppercase text-white text-4xl py-12 font-extrabold text-center"
  >
    Administrador de pacientes de veterinaria
  </h1>
  <DatosPaciente />
</MainLayout>
