---
import FormularioPaciente from "./FormularioPaciente.astro";
---

<section class="px-4 sm:px-8">
  <div
    class="container mx-auto bg-white flex flex-col lg:flex-row gap-16 p-8 sm:p-16"
  >
    <div class="w-full">
      <h2 class="text-3xl font-bold">Datos del paciente</h2>
      <FormularioPaciente />
    </div>
    <div class="w-full">
      <h2 class="text-3xl font-bold">No hay citas</h2>
    </div>
  </div>
</section>
